Clockwork.MusicInventory.Web/Content/bootstrap*
Clockwork.MusicInventory.Web/fonts/glyphicons*
Clockwork.MusicInventory.Web/Scripts/bootstrap*
Clockwork.MusicInventory.Web/Scripts/jquery*

[Bb]in/
[Oo]bj/

.vs/

**/packages/*

*.user