
<h1>Music Inventory</h1>
<p class="lead">A Music Inventory.</p>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Dolor sit amet
        </p>
        <p><a class="btn btn-default" href="#">Call to action</a></p>
    </div>
</div>